<%- include("partials/header")%>

<br>
<br>
<br>
<div>
    <div class="postTitle" id="legend">
        <legend class="">
            <h1><%= post.title%></h1>
        </legend>
    </div>
    <br>
    <h6 class="date"><%= post.date.toLocaleString()%></h6>
    <br>
    <br>
    <div class="container">
        <h3><%= post.content%></h3>
        <br>
        <br>
        <p>Written by <%= post.username%></p>
    </div>
    <br>

    <div class="like" id="legend">
        <legend class="">

        </legend>

        <% if(header === "signIn"){%>
        <p id="demo"> you must login first</p>
        <% } %>

        <form action="/like" method="POST">
            &nbsp;&nbsp; <input type="image" src="/images/likee.png" alt="Submit" width="48" height="48"> &nbsp;
            <a href="/showlikedlist/<%=post._id%>"><span><%= post.like%></span></a>

            <input type="hidden" name="commentPostID" value=<%= post._id%>>

        </form>
    </div>

    <div id="legend">
        <legend id="legend">

        </legend>
    </div>

    <div class="container">

        <%  if(post.comment.length>1) {%>

        <%  var i;%>
        <%  for (i = 1; i < post.comment.length; i++) {%>
        <h3> <%= post.commentUser[i]%> : <%= post.comment[i]%> </h3>
        <% }} %>
    </div>
    <br>
    <div class="form_group">
        <form action="/comment" method="post">



            <textarea class="form-control" name="commentContent" placeholder="write comment" cols="10"
                rows="5"></textarea>
            <input type="hidden" name="commentPostID" value=<%= post._id%>>
            <br>
            <button class="btn btn-primary btn-color form-control" type="submit" name="button">Comment</button>



        </form>
    </div>

</div>

<%- include("partials/footer")%>